/* styles.css */

html,
body {
    height: 100%;
    margin: 0;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-arrow,
.right-arrow {
    padding: 1rem;
}

.image-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-slide>img {
    display: none;
    border: 2px solid black;
    border-radius: 1rem;
}

.circle-container {
    display: flex;
    margin: 1rem;
    gap: 0.5rem;
}

.circle {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 5px solid black;
}

.circle:hover {
    cursor: pointer;
}